[Unit]
Description=Netforce Shell
After=syslog.target

[Service]
Type=simple
User=root
Group=root
#WorkingDirectory=/root/
ExecStart=CUSTOM_SHELL_SERVER_PATH
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target